.col-card{
    margin-bottom: 100px;
}

.blog-card:hover{
    animation: posthover 0.3s ease-in-out;
}

@keyframes posthover {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -5px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
    




